    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Vibhu Labs</h2>
                <p>In <a href="http://en.wikipedia.org/wiki/Nyaya">Nyaya philosophy</a> <strong><b><i> Vibhu (Sanskrit:विभु) </i></b></strong> means – 'eternal', 'existing everywhere', 'all-pervading', 'pervading all material things'.</p>
                <p/>
                <p>Internet of Things is growing at a rapid speed. It will soon be a part of our every day lives. At Vibhu Labs we are helping industries make sensible and sustainable decisions.</p>
            </div>
        </div>
    </section>
